/*navbar */
.navbar {
    margin-bottom: 0;
    
}

/*General styles*/

/* Landing Page */
#helpsWith {
    color: #4674bf;
}
#landingText{
    text-align: center;

}
#landingText .jumbotron {
    position: relative;
    top: 200px;
    opacity:.9;
}
#landingBack {
    background-image: url(../images/smallCover.jpg);
    background-size:cover;
    height: 100vh;
}

/*About Page*/

/*Join form*/
.label-helper {
    font-weight: lighter;
    font-size:1em;
}
/*homepage styles*/
.borderedDiv {
    border:1px gray solid;
    border-radius:7px;
    margin-bottom:5px;
}
.divToExpand {
    height:60vh;
    white-space: nowrap;
    overflow-y: scroll;
}
.col-lg-12 {
    padding-left:0;
    padding-right:0;
}

.hiddenContent {display:none;}
