/*navbar */
.navbar {
    margin-bottom: 0;
    
}

/*General styles*/
h1, h2 {
    text-align: center;
}

/* Landing Page */
#helpsWith {
    color: #4674bf;
}
#landingText{
    text-align: center;

}
#landingText .jumbotron {
    position: relative;
    top: 200px;
    opacity:.9;
}
#landingBack {
    background-image: url(../images/smallCover.jpg);
    background-size:cover;
    height: 100vh;
}

/*About Page*/

/*Join form*/
.label-helper {
    font-weight: lighter;
    font-size:1em;
}

