/*navbar */
    .navbar {
        margin-bottom: 0;
    }

/*General styles*/
    a {
        color:#403E3D;
    }
    a:hover {
        text-decoration:none;
    }
    h1 {
        padding-top:10px;
    }
    .backgroundedH1 {
        background-color: #F8F8F8;
        padding-bottom:5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border: rgb(0, 0, 0);
        border: rgba(0, 0, 0, 0.2);
        border-radius:7px;
        opacity: .9;
    }
    .borderedDiv {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border:rgb(0, 0, 0);
        border: rgba(0, 0, 0, 0.2);
        border-radius:7px;
        margin:10px auto;
        background-color: #F8F8F8;
        opacity: .9;
    }

    .hiddenContent {display:none;}
    .page-header {   
        background-color: #F8F8F8;
        opacity: .9;
    }
    .row {
        margin-top:20px;
    }

/* Landing Page */
    #helpsWith {
        color: #4674bf;
    }
    #landingBack {
        background-image: url(../images/smallCover.jpg);
        background-size:cover;
        height: 100vh;
    }
    #landingText{
        text-align: center;
    }
    #landingText .jumbotron {
        position: relative;
        top: 200px;
        opacity:.9;
    }


/*About Page*/
    #aboutBack {
        background-image: url(../images/aboutBack.jpg);
        background-size:cover;
        height: 100vh;
    }
    #aboutText .jumbotron {
        position: relative;
        top: 150px;
        opacity:.9;
    }
/*Calendar Page */
    .draggable {
        cursor: pointer;
        opacity: .9;
    }
    .draggable:hover {
        opacity:1;
    }
    #calendarPage {
        background-image: url(../images/calBack.jpg);
        background-size:cover;
        height: 100vh;
    }
    #calendarPage .ui-widget-content {
        color: white;
        margin-bottom:10px;
        background:#4A86A8;
        border-radius: 3px;
        border: 1px solid #3a87ad;
        font-weight: 400;
    }
    #calendarPage button {

        margin-bottom:10px;
    }
/*Join form*/
    .label-helper {
        font-weight: lighter;
        font-size:1em;
    }
/*homepage styles*/
    #homeBack {
        background-image: url(../images/homeBack.jpg);
        background-size:cover;
        height: 100vh;
    }
    .homeButton {
        height:200px;
    }
    .homeButton .glyphicon {
        position: absolute;
        top:90px;
        left:47%;
    }
/*Recipe pages*/

    .recipeBack {
        background-image: url(../images/recipeBack.jpg);
        background-size:cover;
        height: 100vh;
    }
    .recipe h2 {
        font-size:8em;
    }


/*SHOW Page */
    #showPage {
        background-image: url(../images/showBack.jpg);
        background-size:cover;
        height: 100vh;
        text-align: left;
    }
    .ingredientsList {
        margin-top:20px;
        font-size:1.5em;
    }
    .recipeImage {
        width:100%;
    }
    .recipeDescription {
        margin: 10px 0;
        font-size:1.2em;
        font-weight: 600;
    }
    #showPage .btn {
        margin-top: 5px;
        width: 100%;
    }
    #showPage ul {
        padding-left: 10px;
    } 
    #showPage li {
        width: 50%;
        border-bottom: #edeaea dotted 2px;
    } 