<% include partials/header %>
<div id="aboutBack">
    <div class="container about text-center" id="aboutText">
        <div class="jumbotron">
        <h1>My Monthly Meals</h1>
        <h2>Making meal planning easier.</h2>
        <h3>1. Create an account by clicking "Join" in the top-right corner.</h3>
        <h3>2. Add your favorite recipes or find recipes from other users</h3>
        <h3>3. Drag and drop your recipes into a monthly meal planner.</h3>
        <h3>4. Start cooking!</h3>
    </div>
</div>
<% include partials/footer %>