<% include partials/header %>
<div class="container about">
    <div class="row">
        <h1>My Monthly Meals</h1>
        <h1>Hit shuffle on your shopping list.</h1>
        <h2>Step 1:</h2>
        <h3>Specify Your Budget and Restrictions</h3>
        <h2>Step 2:</h2>
        <h3>Click "Find My Recipes"</h3>
        <h2>Step 3:</h2>
        <h3>Confirm the recipes you want, click off those you don't. Once you like what you see, click "Make My Meals."</h3>
        <h3>You'll get a customized shopping list every week with the ingredients you need so there's no more guess work.</h3>
        <h3>Never hunt for another bookmarked recipe page. Your recipe for each day pops up as soon as you log in.</h3>
        <h3>After you try a recipe, tell us if you liked it. Recipes you like will stay in your rotation. Those you don't will never pop up again.</h3>
        <h2>You Can Also:</h2>
        <h3>Add your own recipes and share them with friends.</h3>
        <h3>Get recipe collections from your favorite chefs and food bloggers.</h3>
        
        <h1>Ready to Try it out?</h1>
        <h1><a href="/join">Sign up now for free.</a></h1>
        
    </div>
</div>
<% include partials/footer %>