<% include partials/header %>
<div class="container about text-center">
    <div class="row">
        <h1>My Monthly Meals</h1>
        <h2>Making meal planning easier.</h2>
        <h2>Step 1:</h2>
        <h3>Create an account by clicking "Join" in the top-right corner.</h3>
        <h2>Step 2:</h2>
        <h3>Add your recipes</h3>
        <h2>Step 3:</h2>
        <h3>Drag and drop your recipes into a monthly meal planner.</h3>
        <h2>Step 4:</h2>
        <h3>Every day, My Monthly Meals will give you your recipe for the day.</h3>
        
    </div>
</div>
<% include partials/footer %>