<% include partials/header %>
<div class="container home text-center">
    <h1>Welcome <%= currentUser.username %></h1>
    <div id="draggable" class="row">
        <div class="col-lg-6">
            <a href="/today">
            <div id="todayButton" class= "homeButton borderedDiv">
                <h1>Today's Recipe</h1>
                <h2 class="glyphicon glyphicon-apple"></h2>
            </div>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="/recipes/favorite">
            <div id="recipeButton" class= "homeButton borderedDiv">
                <h1>My Recipes</h1>
                <h2 class="glyphicon glyphicon-cutlery"></h2>
                <img/>
            </div>
            </a>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-lg-6">-->
        <!--    <a href="/shoplist">-->
        <!--    <div id="shopButton" class= "borderedDiv">-->
        <!--        <h1>My Shopping List</h1>-->
        <!--        <h2 class="glyphicon glyphicon-shopping-cart"></h2>-->
        <!--    </div>-->
        <!--    </a>-->
        <!--</div>-->
        <div class="col-lg-6">
            <a href="/month">
            <div id="monthButton" class= "homeButton borderedDiv">
                <h1>My Month</h1>
                <h2 class="glyphicon glyphicon-calendar"></h2>
            </div>
            </a>
        </div>
    </div>
</div>

<% include partials/footer %>
<script src="/scripts/home.js"></script>