<% include partials/header %>
<div class="container home text-center">
    <h1>This is the home page!</h1>
    <div class="row">
        <div class="col-lg-12  borderedDiv">
            <h1>Today's recipe</h1>
            <h3>Recipe Name</h3>
            <div class="divToExpand hiddenContent">
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            <p>Cook the Chicken</p>
            <p>make it tasty</p>
            <p>don't burn it.</p>
            </div>
            <button class="btn btn-block btn-lg btn-primary expander"><span class="glyphicon glyphicon-menu-down"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 borderedDiv"><h1>My Recipes</h1></div>
        <div class="col-lg-9 borderedDiv"><h1>Month at a Glance</h1></div>
    </div>
</div>

<% include partials/footer %>
<script src="/scripts/home.js"></script>