<% include partials/header %>
<div id="landingBack">
    <div class="container" id="landingText">
        <div class="jumbotron">
            <h1>My Monthly Meals</h1>
            <h2>Helping you <br/><span id="helpsWith">plan</span><br/> in just a few clicks.</h2>
        </div>
    </div>
</div>
<script src="/scripts/landing.js"></script>

<% include partials/footer %>