<% include ../partials/header %>
<div class="page-header">
    <h1>My Favorite Recipes</h1>
</div>
<div class="container">
<div class="row text-center">
    <div class="col-md-3 col-sm-3">
        <a href="/recipes/new">
            <div class="borderedDiv recipe">
                <h2><em class="glyphicon glyphicon-plus"></em></h2>
            </div>
        </a>
    </div>
    <% recipes.forEach(function(recipe) { %>
            <div class="col-md-3 col-sm-3">
            <div class="borderedDiv">
                <a href="/recipes/<%= recipe._id %>">
                    <img src="<%= recipe.image %>">
                    <div class="caption">
                        <h4><%= recipe.name %></h4>
                    </div>
                </a>
                   
            </div>
        </div>
    <% }); %>
</div>
</div>

    
   
    </body>
    
<% include ../partials/footer %>