<% include ../partials/header %>
<div class="container join text-center">
    <h1>Add A New Recipe</h1>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="bg-danger hiddenContent" id="errorMessage"></div>
            <form method="POST" action="/recipes">
                <div class="form-group">
                    <label for="name">Recipe Name<br/><span class="label-helper">Make it descriptive.</span></label>
                    <input id="name" type="text" class="form-control text-center" name="name" placeholder="Orange Chicken" required>
                </div>
                <div class="form-group">
                    <label for="image">Image<br/><span class="label-helper">Link to an image of your meal.</span></label>
                    <input id="image" type="text" class="form-control text-center" name="image" required>
                </div>
                <div class="form-group">
                    <label for="description">Description<br/><span class="label-helper">Tell others what it's like.</span></label>
                    <textarea id="description" class="form-control text-center" name="description" required ></textarea>
                </div>
                <div class="form-group">
                    <label for="ingredients1">Ingredients</label><br/>
                    <input class="ingredients form-control text-center" type="text"  name="ingredients1" required></input>
                </div>
                <div class="form-group">
                    <input  class="ingredients form-control text-center" type="text" name="ingredients2"></input>
                </div>
                <div class="form-group">
                    <input  class="ingredients form-control text-center" type="text" name="ingredients3"></input>
                </div>
                <div class="form-group" id="addButton" >
                    <input type="button" class="form-control btn btn-success" name="addButton" value="Add more ingredients">
                </div>
                <div class="form-group">
                    <label for="directions">Directions</label>
                    <textarea id="directions" class="form-control text-center" name="directions" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success" name="submit" value="Add Recipe">
                </div>
            </form>
            
        </div>
    </div>
    
</div>
<script>
    var addButton = document.getElementById("addButton");
    var form = document.getElementsByTagName("form")[1];
    var ingredients = document.querySelectorAll(".ingredients");
    var ingredientSpace = document.getElementById("ingredientSpace");
    var spaceContent = "";
    var ingredientCounter = 3;
    function addIngredient (){
        ingredientCounter ++;
        var newElement = document.createElement("div");
        var brandNewNode = form.insertBefore(newElement, addButton);
        var newInput = document.createElement("input");
        newInput.className = "ingredients form-control text-center";
        newInput.name = "ingredients" + ingredientCounter;
        brandNewNode.className = "form-group";
        brandNewNode.appendChild(newInput);
    }
    addButton.addEventListener("click", addIngredient);
</script>
<% include ../partials/footer %>